.pixel-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  color: #ffb84d;
  padding: 0.9rem 1.7rem;
  text-align: center;
  cursor: pointer;
  background: #692a13;
  border: 4px;
  background-clip: padding-box;
  border-style: solid;
  border-image-source: url("/mainButton.png");
  border-image-repeat: stretch;
  border-image-slice: 105 95 100 100;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;

  text-shadow: 0 0 4px #ff8c00, 0 0 3px #ff6a00, 0 0 5px #ff4500;

  transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.pixel-btn::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15px;
  right: 15px;
  height: 4px;
  background: #3d180b;
  z-index: 0;
}
.pixel-btn::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15;
  right: 7px;
  width: 4px;
  background: #3d180b;
  z-index: 0;
}

.pixel-btn:hover::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 15px;
  right: 15px;
  height: 5px;
  background: #3d180b;
  z-index: 0;
}

.pixel-btn:hover::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15;
  right: 7px;
  width: 5px;
  background: #3d180b;
  z-index: 0;
}

.pixel-btn:active::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  right: 15px;
  height: 5px;
  background: #3d180b;
  z-index: 0;
}

.pixel-btn:active::before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15;
  left: 7px;
  width: 5px;
  background: #3d180b;
  z-index: 0;
}

.pixel-btn:hover {
  background: #5c2410;
  background-clip: padding-box;
}

/* ------------------ */

.action-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: #ffb84d;

  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/buttons/action-button.png");
  width: 100%;
}

.action-text {
  font-size: 10px;
  color: #fce481;
}

.action-text:hover {
  color: #fce481;
  text-shadow: -1px -1px 0 #cb571d, 1px -1px 0 #cb571d, -1px 1px 0 #cb571d,
    1px 1px 0 #cb571d, -1px 0 0 #cb571d, 1px 0 0 #cb571d, 0 -1px 0 #cb571d,
    0 1px 0 #cb571d;
}

.plume-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #ffb84d;
  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 56 64 56 64 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./qs.png");
}

.gryffindor-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: #ffb84d;
  text-align: center;
  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/buttons/gryffindor-btn.png");
  width: 200px;
}

.ravenclaw-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: #b5835e;
  text-align: center;
  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/buttons/ravenclaw-btn.png");
  width: 200px;
}

.slytherin-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: #a5a5a6;
  text-align: center;
  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/buttons/slytherin-btn.png");
  width: 200px;
}

.huffelpuff-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0.9rem 2.5rem;
  color: black;
  text-align: center;
  border-style: solid;
  background-clip: padding-box;
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 14px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/buttons/huffelpuff-btn.png");
  width: 200px;
}
