.content-mask {
  position: relative;
  height: 100%;
}

.content-mask::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: black;
  mask-image: url("/mapOverlay/loopingGif.gif");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  background-image: none;
  background-size: cover;
  background-position: center;
  opacity: 1;
  animation: loadMask 0.1s forwards 1s;
  animation-fill-mode: both;
}

@keyframes loadMask {
  to {
    background-image: url("/backgrounds/mauraudarMap.png");
  }
}

.final-content {
  /* Keep this hidden initially */
  opacity: 0;
  background-image: url("/backgrounds/mauraudarMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  font-family: "Beth Ellen", cursive;
}

.scroll-about {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-source: url("/mapOverlay/openedScroll.png");
  border-image-slice: 62 87 65 87 fill;
  border-image-width: 18px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
}

.title-about-me {
  color: var(--navbar-action);
  text-shadow: -0.5px -0.5px 2px var(--navbar-highlight),
    0.5px -0.5px 2px var(--navbar-highlight),
    -0.5px 0.5px 2px var(--navbar-highlight),
    0.5px 0.5px 2px var(--navbar-highlight),
    -0.5px 0 2px var(--navbar-highlight), 0.5px 0 2px var(--navbar-highlight),
    0 -0.5px 2px var(--navbar-highlight), 0 0.5px 2px var(--navbar-highlight);
}
