.content-mask {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  color: white;
}

.content-mask::before {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url("/backgrounds/gifTwo.gif");
  -webkit-mask-image: url("/backgrounds/gifTwo.gif");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: -1;
  background-image: url("/backgrounds/mauraudarMap.png");
  background-size: cover;
  background-position: center;
}

.card {
  position: relative;
  padding: 30px 15px;
  border: 10px solid transparent;
  background-clip: border-box;
  border-image-slice: 42 34 39 32 fill;
  border-image-width: 40px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/exp-scroll.png");
}
