.theOwlery-content {
  position: relative;
  height: 100vh;
  /* Background image moved to Next.js Image component for optimization */
}

.theOwlery-scroll {
  position: relative;
  border-style: solid;
  padding: 100px 40px 70px 50px;
  border-image-source: url("/owlery/owlScroll.png");
  border-image-slice: 70 27 60 34 fill;
  border-image-width: 70px 20px 70px 50px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  transition: all 0.3s ease;
}

.linkedin {
  background-image: url("/contact/linkedin-pixel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.github {
  background-image: url("/contact/github-pixel.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
