.spellbook-content {
  /* Keep this hidden initially */
  height: 100vh;
  background-image: url("/backgrounds/spellbook-Background.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
