.banner {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-slice: 26 27 27 27 fill;
  border-image-width: 18px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  border-image-source: url("/navbars/navbar.webp");
}

.gryffindor-banner {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-slice: 50 45 50 45 fill;
  border-image-width: 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  border-image-source: url("/navbars/Gryffinndor-navbar.webp");
}

.ravenclaw-banner {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-slice: 50 45 50 45 fill;
  border-image-width: 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  border-image-source: url("/navbars/ravenclaw-navbar.webp");
}

.slytherin-banner {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-slice: 50 45 50 45 fill;
  border-image-width: 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  border-image-source: url("/navbars/slytherin-navbar.webp");
}

.huffelpuff-banner {
  position: relative;
  border-style: solid;
  padding: 17px 25px;
  border-image-slice: 50 45 50 45 fill;
  border-image-width: 12px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  background-clip: border-box;
  border-image-source: url("/navbars/hufferpuf-navbar.webp");
}

.navbar-title {
  text-align: center;
  color: var(--navbar-title);
}

.navbar-action {
  font-size: 12px;
  color: var(--navbar-action);
  text-shadow: 0.5px 0.5px 0 var(--navbar-highlight);
}

.navbar-action:hover {
  color: var(--navbar-action);
  text-shadow: -0.5px -0.5px 2px var(--navbar-highlight),
    0.5px -0.5px 2px var(--navbar-highlight),
    -0.5px 0.5px 2px var(--navbar-highlight),
    0.5px 0.5px 2px var(--navbar-highlight),
    -0.5px 0 2px var(--navbar-highlight), 0.5px 0 2px var(--navbar-highlight),
    0 -0.5px 2px var(--navbar-highlight), 0 0.5px 2px var(--navbar-highlight);
}

.action-active {
  font-size: 12px;
  color: var(--navbar-action);
  text-shadow: -0.5px -0.5px 2px var(--navbar-highlight),
    0.5px -0.5px 2px var(--navbar-highlight),
    -0.5px 0.5px 2px var(--navbar-highlight),
    0.5px 0.5px 2px var(--navbar-highlight),
    -0.5px 0 2px var(--navbar-highlight), 0.5px 0 2px var(--navbar-highlight),
    0 -0.5px 2px var(--navbar-highlight), 0 0.5px 2px var(--navbar-highlight);
}
